# Godot
.godot/*
Exported/*
.import/
export.cfg
export_presets.cfg
*.translation

# GdUnit4
TestResults/

# Mono-specific
.mono/
data_*/
mono_crash.*.json

# Visual Studio
.vs/*
Properties/*

# Visual Studio Code
.vscode/

# Include these files
!Properties/.gdignore
!TestResults/.gdignore
!gdunit4_testadapter/.gdignore
