# Godot
.godot/*
Exported/*
.import/
export.cfg
export_presets.cfg
*.translation

# Mono-specific
.mono/
data_*/
mono_crash.*.json

# Visual Studio
.vs/*
Properties/*

# Visual Studio Code
.vscode/settings.json

# Include these files
!Properties/.gdignore
